@font-face {
    font-family: MontserratMedium;
    src: local(MontserratMedium),url('Assets/fonts/medium/Montserrat-Medium.ttf') format('truetype');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* reset code ^*/




body {
    font-family: 'MontserratMedium' !important;
}

.Nav-bar {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    align-items: center;
}

    .Nav-bar a {
        text-decoration: none;
    }

/*  nav{
    border: 1px solid rebeccapurple;
 
  } */
.nav-li a {
    display: flex;
    align-items: center;
    color: #3A3042 !important;
    margin: 0rem 1.5rem 0rem 1.5rem;
}





.baskets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons a {
    margin: 0rem 0.8rem;
}

/* Mobile navbar */

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.slice {
    width: 35px;
    height: 3px;
    background-color: #3A3042;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -7px);
}

.mobile-menu li {
    margin: 5px 0px 5px 0px
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px 30px 0px;
    margin-top: 60px;
    background-color: #ffffffc1;
    justify-content: space-around;
    list-style: none;
    border-bottom: solid 3px #3A3042;
    font-family: 'MontserratMedium';
}

    .open .mobile-menu a {
        color: #FF6A4B;
        text-decoration: underline;
        font-weight: 800;
    }

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 500px);
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .nav-ul {
        display: none;
    }

    .baskets {
        display: none;
    }

    #hamburger-icon {
        display: block;
        margin: 0px 20px 0px 0px;
    }

    .Mobile-baskets {
        display: flex;
        margin: 1rem 0rem 0rem 0rem;
        justify-content: center;
        align-items: center;
    }

        .Mobile-baskets a {
            margin: 0rem 1rem;
        }
}

/* Mobile navbar */

/* footer */

footer {
    background-color: #3A3042;
    color: #FFFFFF;
}


.foot {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    background-color: #3A3042;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.worm {
    display: flex;
    flex-direction: column;
    width: 35%;
}

    .worm p {
        margin: 0% 0 0 5%;
        font-size: 32px;
        font-weight: 400
    }

.subscribe-Bar {
    margin: 15% 0 0 5%;
}

#site-subscribe {
    padding: 0.5rem 1rem;
    font-size: 14pt;
    width: 12rem;
    border: 2px solid #FFFFFF;
    background-color: #3A3042;
    border-radius: 4rem;
    color: #EAEAEA;
}

.subscribe-Bar button {
    background-color: #3A3042;
    border: 2px solid #FFFFFF;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 0rem 0rem 0rem 1rem;
    color: #fff;
    font-size: 14pt;
}

.Explore {
    width: 30%;
}

.title {
    display: flex;
    justify-content: space-between;
}

.column1, .column2, .column3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Explore h3,
.contact h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    display: block;
}

.links a, .Explore a {
    font-size: 1rem;
    width: fit-content;
    margin: 1rem 1rem 0 0;
    color: #EAEAEA;
}

.contact {
    display: flex;
    flex-direction: column;
}

    .contact p {
        font-size: 1rem;
        margin: 01rem 0;
        color: #EAEAEA;
    }

.social-media {
    display: flex;
    justify-content: space-between;
}

    .social-media img {
        margin-top: 15%;
    }

.rights {
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

    .rights a {
        color: #FFFFFF;
        text-decoration: underline;
    }

@media(max-width:900px) {



    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .worm,
    .links,
    .contact,
    .explor {
        margin: 2rem 0rem;
    }

    .worm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .Explore {
        display: none;
    }

    .subscribe-Bar input[type=email] {
        width: 100%;
    }

    .subscribe-Bar button {
        margin: 1rem 0 0 0;
    }

    .subscribe-Bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0 0 0;
    }

    .contact {
        text-align: center;
    }
}
