<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/Adminpage.css">
    <title>Document</title>
</head>
<body>
    <div class="servicesAdminPage">
        <a class="service" href="">
            <div class="align-cen">
                <img alt="" src="img\create-edit book symbol.png" height="130px" draggable="false">
                <h3>Create / Edit Book</h3>
            </div>
        </a>

        <a class="service " href="">
            <div class="align-cen">
                <img alt="" src="img\Add user symbol.png" height="130px" draggable="false">
                <h3>Add User</h3>
            </div>
        </a>
        <a class="service " href="">
            <div class="align-cen">
                <img alt="" src="img\creat category symbol.png" height="130px" draggable="false">
                <h3>Create Category</h3>
            </div>
        </a>
    </div>
</body>
</html>