@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="icon" href="~/Photos/logo.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AuthorDetails.css" asp-append-version="true" />
    <title>BookWorm</title>
</head>
<section class="authordetails">
    <div class="background-img" style="background-image: url(img/autherBackground.jpg);
        background-size: cover;background-position: center; height: 6rem; ">
    </div>
    <div class="authorBranch">
        <img src="img\WillSmith.png" width="150rem" alt="">
        <h3>Author</h3>
        <h2>WillSmith</h2>
        <h4>Biographies & Memoirs</h4>
        <p>
            Will Smith is an actor, producer, and musician, and a two-time Academy Award nominee and Grammy and NAACP
            award winner, who has enjoyed a diverse career encompassing films, television shows, and multiplatinum
            albums. He holds many box office records, including the most consecutive $100 million–grossing movies
            (eight). He and his wife founded the Will & Jada Smith Family Foundation to improve lives by providing
            invaluable resources to accelerate the growth of initiatives that focus on deepening individual and
            collective empowerment in the areas of arts and education, social empowerment, health and wellness, and
            sustainability.
        </p>
    </div>
    <div class="otherbooks">
        <p>Other books by Will Smith</p>

    </div>
    <div class="author-book">
        <div class="Books">
            <a href=""><img class="book" src="img/The-sub.png" alt="" height="300px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price">
                29.50$ <a href="#">
                    <img class="vect" src="img\save-orange.png" alt="sas"
                         style="width: 15px;">
                </a>
            </h3>
        </div>
        <div class="Books">
            <a href=""><img class="book" src="img/The-sub.png" alt="" height="300px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price">
                29.50$ <a href="#">
                    <img class="vect" src="img\save-orange.png" alt="sas"
                         style="width: 15px;">
                </a>
            </h3>
        </div>
        <div class="Books">
            <a href=""><img class="book" src="img/The-sub.png" alt="" height="300px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price">
                29.50$ <a href="#">
                    <img class="vect" src="img\save-orange.png" alt="sas"
                         style="width: 15px;">
                </a>
            </h3>
        </div>
        <div class="Books">
            <a href=""><img class="book" src="img/The-sub.png" alt="" height="300px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price">
                29.50$ <a href="#">
                    <img class="vect" src="img\save-orange.png" alt="sas"
                         style="width: 15px;">
                </a>
            </h3>
        </div>
        <div class="Books">
            <a href=""><img class="book" src="img/The-sub.png" alt="" height="300px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price">
                29.50$ <a href="#">
                    <img class="vect" src="img\save-orange.png" alt="sas"
                         style="width: 15px;">
                </a>
            </h3>
        </div>
        <div class="Books">
            <a href=""><img class="book" src="img/The-sub.png" alt="" height="300px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price">
                29.50$ <a href="#">
                    <img class="vect" src="img\save-orange.png" alt="sas"
                         style="width: 15px;">
                </a>
            </h3>
        </div>
    </div>
</section>