@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="icon" href="~/Photos/logo.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <title>BookWorm</title>
</head>




<section class="Welcome-Section">
    <img class="book1" src="~/Photos/book.png" height="500px" alt="">
    <img class="book-mobile" src="~/Photos/book.png" height="360px" alt="">
    <div class="Text">
        <h2>
            <span class="blue">Read with us</span> the best books at the <span class="orange">lowest prices!</span>
        </h2>
        <p>
            There is a lot of literature of various genres in our catalog. Everyone will be able to find something
            to their <span class="orange">liking!</span>
        </p>
        <div class="Search-Bar">
            <label for="site-search"></label>
            <input id="site-search" placeholder="search">
            <button>Search</button>
        </div>
    </div>


</section>



<section class="bestsellers">
    <div class="bestsellers-text">
        <h2>Bestsellers:</h2>
        <a href="allbookspage.html">Check All -></a>
    </div>
    <div class="second">
        <div class="Best-Books">
            <a href="BookDetails.html"><img class="bestbooks" src="~/Photos/will.png" alt="" height="350px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price1"> 29.50$ <img class="vect" src="~/Photos/save-orange.png" alt=""></h3>
        </div>

        <div class="Best-Books">
            <a href=""><img class="bestbooks" src="~/Photos/a-little-life-book.png" alt="" height="350px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price2"> 29.50$ <a><img class="vect" src="~/Photos/save-orange.png" alt=""> </a> </h3>
        </div>

        <div class="Best-Books">
            <a href=""><img class="bestbooks" src="~/Photos/how-to-not-die-alone-book.png" alt="" height="350px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price3"> 29.50$ <a href="#"> <img class="vect" src="~/Photos/save-orange.png" alt=""> </a> </h3>
        </div>

        <div class="Best-Books">
            <a href=""><img class="bestbooks" src="~/Photos/The-sub.png" alt="" height="350px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price3"> 29.50$ <a href="#"> <img class="vect" src="~/Photos/save-orange.png" alt=""> </a> </h3>
        </div>

        <div class="Best-Books">
            <a href=""><img class="bestbooks" src="~/Photos/The-sub.png" alt="" height="350px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price3"> 29.50$ <a href="#"> <img class="vect" src="~/Photos/save-orange.png" alt=""> </a> </h3>
        </div>
        <div class="Best-Books">
            <a href=""><img class="bestbooks" src="~/Photos/how-to-not-die-alone-book.png" alt="" height="350px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price3"> 29.50$ <a href="#"> <img class="vect" src="~/Photos/save-orange.png" alt=""> </a> </h3>
        </div>

        <div class="Best-Books">
            <a href=""><img class="bestbooks" src="~/Photos/how-to-not-die-alone-book.png" alt="" height="350px"></a>
            <h2 class="bookname">WILL</h2>
            <h3 class="author">Will smith</h3>
            <h3 class="price3"> 29.50$ <a href="#"> <img class="vect" src="~/Photos/save-orange.png" alt=""> </a> </h3>
        </div>
    </div>

</section>

<section class="Categories">
    <h2>Categories :</h2>

    <div class="line one">
        <div class="Categories-links left-side">
            <h3>Fiction</h3>
            <div class="Categories-Anchors orange">
                <a href="#" class="grid-item">Adventure</a>
                <a href="#" class="grid-item">Classic</a>
                <a href="#" class="grid-item">Crime</a>
                <a href="#" class="grid-item">Horror</a>
                <a href="#" class="grid-item">Romance</a>
                <a href="#" class="grid-item">Fantasy</a>
            </div>

        </div>
        <img src="~/Photos/fictionbook.png" alt="" height="250px">
    </div>

    <div class="line two">
        <div class="Categories-links left-side">
            <h3>Non Fiction</h3>
            <div class="Categories-Anchors cyan">
                <a href="#" class="">Adventure</a>
                <a href="#" class="">Classic</a>
                <a href="#" class="">Crime</a>
                <a href="#" class="">Horror</a>
                <a href="#" class="">Romance</a>
            </div>

        </div>
        <img src="~/Photos/nonfictionbook.png" alt="" height="250px">
    </div>


</section>

<section class="Genre-Section">
    <div class="Genre-text">
        <h2>Action:</h2>
        <a href="allbookspage.html">Check All -></a>
    </div>
    <div class="carousel-Section">
        <button class="carousel-control prev"><img draggable="false" src="~/Photos/arrow2.png" alt=""></button>
        <div class="carousel-container">

            <div class="carousel">

                <div class="carousel-item">
                    <a href="BookDetails.html">
                        <img class="book-Cover" src="~/Photos/Books/41hYQIILU3L._SL320_.jpg" alt="Image 2">
                        <div class="info">
                            <div class="info-left">
                                <h3>Spare</h3>
                                <p class="authorinfo">Prince Harry</p>
                                <p class="orange">$24.99</p>

                            </div>
                            <div class="info-right">
                                <button><img class="vect" src="~/Photos/Vector.png" alt=""></button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#">
                        <img class="book-Cover" src="~/Photos/Books/41bK7Jt8k+L._SL320_.jpg" alt="Image 2">
                        <div class="info">
                            <div class="info-left">
                                <h3>12 Rules For Life</h3>
                                <p class="authorinfo">Jordan</p>
                                <p class="orange">$24.99</p>

                            </div>
                            <div class="info-right">
                                <button><img class="vect" src="~/Photos/Vector.png" alt=""></button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#">
                        <img class="book-Cover" src="~/Photos/Books/41clGmWQP6L._SL320_.jpg" alt="Image 2">
                        <div class="info">
                            <div class="info-left">
                                <h3>I'm Glad My Mom Died</h3>
                                <p class="authorinfo">Jennette</p>
                                <p class="orange">$24.99</p>

                            </div>
                            <div class="info-right">
                                <button><img class="vect" src="~/Photos/Vector.png" alt=""></button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#">
                        <img class="book-Cover" src="~/Photos/Books/61ideL3gloL._SL320_.jpg" alt="Image 2">
                        <div class="info">
                            <div class="info-left">
                                <h3>It Ends With Us</h3>
                                <p class="authorinfo">Colleen Hoover</p>
                                <p class="orange">$24.99</p>

                            </div>
                            <div class="info-right">
                                <button><img class="vect" src="~/Photos/Vector.png" alt=""></button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#">
                        <img class="book-Cover" src="~/Photos/Books/41OjnXiiB1L._SL320_.jpg" alt="Image 2">
                        <div class="info">
                            <div class="info-left">
                                <h3>Product 2</h3>
                                <p class="authorinfo">Author name</p>
                                <p class="orange">$24.99</p>

                            </div>
                            <div class="info-right">
                                <button><img class="vect" src="~/Photos/save-orange.png" alt=""></button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#">
                        <img class="book-Cover" src="~/Photos/Books/511WjJ8gjwL._SL320_.jpg" alt="Image 2">
                        <div class="info">
                            <div class="info-left">
                                <h3>Product 2</h3>
                                <p class="authorinfo">Author name</p>
                                <p class="orange">$24.99</p>

                            </div>
                            <div class="info-right">
                                <button><img class="vect" src="~/Photos/save-orange.png" alt=""></button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#">
                        <img class="book-Cover" src="~/Photos/Books/513Y5o-DYtL._SL320_.jpg" alt="Image 2">
                        <div class="info">
                            <div class="info-left">
                                <h3>Product 2</h3>
                                <p class="authorinfo">Author name</p>
                                <p class="orange">$24.99</p>

                            </div>
                            <div class="info-right">
                                <button><img class="vect" src="~/Photos/save-orange.png" alt=""></button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#">
                        <img class="book-Cover" src="~/Photos/Books/51c4H3VBciL._SL320_.jpg" alt="Image 2">
                        <div class="info">
                            <div class="info-left">
                                <h3>Product 2</h3>
                                <p class="authorinfo">Author name</p>
                                <p class="orange">$24.99</p>

                            </div>
                            <div class="info-right">
                                <button><img class="vect" src="~/Photos/save-orange.png" alt=""></button>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
        <button class="carousel-control next"><img draggable="false" src="~/Photos/arrow.png" alt=""></button>

    </div>
</section>

