<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/Photos/logo.png">

   
</head>
<body>

    <nav class="Nav-bar">   
        <a href="stylesheet.html"><img class="logo" src="~/Photos/logo.png" width="75px" alt=""></a>
        <ul class="nav-ul">
            <div class="baskets">
            <li class="nav-li"><a href="@Url.Action("EBooks", "Home", new { area = "Customer" })">Ebook</a></li>
            <li class="nav-li"><a href="#">Categories</a></li>
            <li class="nav-li"><a href="#">About</a></li>
            <li class="nav-li"><a href="#">Contact</a></li>
            <li class="nav-li">
                <a href="@Url.Action("Index", "Book", new { area = "Admin" })">Admin Page</a></li>

            </div>
        </ul>
        <div class="baskets icons">
            <a href="homepage.html"><img class="basketimg" src="~/Photos/ShoppingCart.png" alt="" width="35px"></a>
            <a href="homepage.html"><img class="basketimg" src="~/Photos/Account.png" alt="" width="35px"></a>
            <a href="homepage.html"><img class="basketimg" src="~/Photos/Save.png" alt="" width="30px"></a>
        </div>

        <!-- ------------------Mobile Navbar---------------- -->

        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1 slice"></div>
            <div class="bar2 slice"></div>
            <div class="bar3 slice"></div>

            <ul id="mobile-menu" class="mobile-menu">
                <li class="nav-li"><a href="allbookspage.html">Ebook</a></li>
                <li class="nav-li"><a href="#">Categories</a></li>
                <li class="nav-li"><a href="#">About</a></li>
                <li class="nav-li"><a href="#">Contact</a></li>
                <div class="Mobile-baskets">
                    <a href="homepage.html"><img class="basketimg" src="~/Photos/ShoppingCart.png" alt="" width="35px"></a>
                    <a href="homepage.html"><img class="basketimg" src="~/Photos/Account.png" alt="" width="35px"></a>
                    <a href="homepage.html"><img class="basketimg" src="~/Photos/Save.png" alt="" width="30px"></a>
                </div>
            </ul>


        </div>
    </nav>

  
        <main role="main" >
            @RenderBody()
        </main>


    <footer>
        <section class="foot">
            <div class="worm">
                <p>Join our newsletter to stay up to date on new releases</p>
                <div class="subscribe-Bar">
                    <label for="site-subscribe"></label>
                    <input id="site-subscribe" type="email" placeholder="Enter Your Email ">
                    <button>Subscribe</button>
                </div>
            </div>
            <div class="Explore">
                <h3>Explore</h3>
                <div class="title">
                    <div class="column1">
                        <a href="#">Languages</a>
                        <a href="#">History</a>
                        <a href="#">Self-help</a>
                        <a href="#">Biography</a>
                        <a href="#">Cooking</a>
                        <a href="#">Lifestyle</a>
                    </div>
                    <div class="column2">
                        <a href="#">Adventure</a>
                        <a href="#">Classic</a>
                        <a href="#">Crime</a>
                        <a href="#">Horror</a>
                        <a href="#">Romance</a>
                        <a href="#">Fantasy</a>
                    </div>
                    <div class="column3">
                        <a href="#">All Books</a>
                        <a href="#">About Us</a>
                        <a href="#">New Releases</a>
                    </div>
                </div>
            </div>

            <div class="contact">
                <h3>contact Us</h3>
                <p> <a href="mailto: mohammad@codyle.com">support@BookWorm.com</a> </p>
                <p>+90 232 222 222 22</p>
                <div class="social-media">
                    <a href="https://www.instagram.com/" target="_blank" class="taga">
                        <img width="27px"
                             src="img\instagram.png" alt="">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="taga">
                        <img width="27px"
                             src="img\twitter.png" alt="">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="taga">
                        <img width="27px"
                             src="img\facebook.png" alt="">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="taga">
                        <img width="27px"
                             src="img\youtube.png" alt="">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="taga">
                        <img width="27px"
                             src="img\linked-in.png" alt="">
                    </a>
                </div>
            </div>
        </section>
        <P class="rights">© All Rights Reserved. BookWorm, <a href="">Privacy Policy</a> </P>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
